{% extends "@ignite/layout/page.html.twig" %}

{% block main %}
  {% include "@ignite/partials/sponsors.html.twig" %}

  <div class="mt-2">
    {% include "@ignite/partials/clips.html.twig" %}
    <div class="text-primary">
      {% include "@ignite/partials/texts.html.twig" %}
    </div>
  </div>
  <div class="mt-2">
    {% include "@ignite/partials/clips.html.twig" %}
    <div class="text-primary">
      {% include "@ignite/partials/texts.html.twig" %}
    </div>
  </div>

  <section class="my-px-40">
    <div class="container-xl">
      {% include "@ignite/partials/widgets/about.html.twig" %}
    </div>
  </section>

  {% include "@ignite/partials/widgets/statistics.html.twig" %}

  <section class="ige-categories">
    <div class="container-xl">
      <div class="ige-categories-list">
        <div class="ige-categories-list__item bg bg-info">
          <div class="ige-categories-item">
            <div class="ige-categories-item__icon">
              <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/c-ghust.svg"/>
            </div>
            <div class="ige-categories-item__illus">
              <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/illustrations/circles.svg"/>
            </div>
            <div class="ige-categories-item__description">
              <h3>{{ "Game Design"|t }}</h3>
              <p></p>
              <a class="btn btn-light text-primary text-start d-flex justify-content-between explore"
                 href="{{ path('view.initiatives.initiatives_page') }}">
                <span>{{ "Explore Initiatives"|t }}</span>
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/arrow.svg" class="arrow"/>
              </a>
            </div>
          </div>
        </div>
        <div class="ige-categories-list__item bg bg-primary">
          <div class="ige-categories-item">
            <div class="ige-categories-item__icon">
              <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/c-video.svg"/>
            </div>
            <div class="ige-categories-item__illus">
              <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/illustrations/shake.svg"/>
            </div>
            <div class="ige-categories-item__description">
              <h3>{{ "Advertising Industry"|t }}</h3>
              <p></p>
              <a class="btn btn-light text-primary text-start d-flex justify-content-between explore"
                 href="{{ path('view.initiatives.initiatives_page') }}">
                <span>{{ "Explore Initiatives"|t }}</span>
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/arrow.svg" class="arrow"/>
              </a>
            </div>
          </div>
        </div>
        <div class="ige-categories-list__item bg bg-success">
          <div class="ige-categories-item">
            <div class="ige-categories-item__icon">
              <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/c-audio.svg"/>
            </div>
            <div class="ige-categories-item__illus">
              <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/illustrations/undercircle.svg"/>
            </div>
            <div class="ige-categories-item__description">
              <h3>{{ "Acoustics Design"|t }}</h3>
              <p></p>
              <a class="btn btn-light text-primary text-start d-flex justify-content-between explore"
                 href="{{ path('view.initiatives.initiatives_page') }}">
                <span>{{ "Explore Initiatives"|t }}</span>
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/arrow.svg" class="arrow"/>
              </a>
            </div>
          </div>
        </div>
        <div class="ige-categories-list__item bg bg-danger">
          <div class="ige-categories-item">
            <div class="ige-categories-item__icon">
              <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/c-play.svg"/>
            </div>
            <div class="ige-categories-item__illus">
              <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/illustrations/stepstep.svg"/>
            </div>
            <div class="ige-categories-item__description">
              <h3>{{ "Video Industry"|t }}</h3>
              <p></p>
              <a class="btn btn-light text-primary text-start d-flex justify-content-between explore"
                 href="{{ path('view.initiatives.initiatives_page') }}">
                <span>{{ "Explore Initiatives"|t }}</span>
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/arrow.svg" class="arrow"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ page.content }}

  {{ page.news_area }}
{% endblock %}
