{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<!-- Section:Events -->
<section class="ige-section my-px-60">
  <div class="container-xl">
    <div class="ige-section-title ige-section-title--under">
      <h2>{{ "Digital Content Council Members"|t }}</h2>
    </div>
    <div class="ige-section-content">
      <div class="ige-about-members">
        <div class="row g-3">
          {% for row in rows %}
            {% set photo = row['content']['#row']._entity.field_member_photo.entity.fileuri %}
            {% set entity = row['content']['#row']._entity %}
            <div
              class="{% if row['content']['#row']._entity.field_member_top.value == '1' %}col-12{% else %}col-6{% endif %}">
              <div class="ige-about-members__item">
                <div class="card ige-about-member">
                  <div class="d-flex flex-row">
                    <div class="ige-about-member__photo">
                      <img src="{{ file_url(photo|striptags|trim) }}"
                           class="img-fluid rounded-start" alt="1">
                    </div>
                    <div class="card-body">
                      <span class="ige-about-member__title">{{ entity.field_member_prefix.value }}</span>
                      <h5 class="ige-about-member__name card-title">{{ entity.title.value }}</h5>
                      <p class="card-text">{{ entity.field_member_job_title.value }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
