<div class="events-item">
	<div class="card" {% if fields.field_initiative_background.content %} style="background-image: url({{ file_url(fields.field_initiative_background.content|striptags|trim) }})" {% endif %}>
		<div class="card-face card-front">
			<div class="card-body d-flex flex-column align-items-center align-content-center justify-content-center">
				<h3 class="text-white">{{ fields.title.content }}</h3>

				<button data-role="swipe" class="btn btn-link mt-3" style="z-index: -1;">{{ 'Register Now'|t }}</button>
			</div>
		</div>
		<div class="card-face card-back">
			<div class="card-body h-100 overflow-auto text-white">
				{% if fields.field_initiative_logo.content %}
					<img src="{{ file_url(fields.field_initiative_logo.content|striptags|trim) }}" class="img-fluid mb-2" alt="{{ fields.title.content }}"/>
				{% endif %}
				<div class="event-item__description">
					{{ fields.field_initiative_summary.content|striptags }}
				</div>

				<div class="event-item__target">
					<strong class="d-block mb-2">{{ "Target Group"|t }}</strong>

					<span>{{ fields.field_initiative_target.content|raw }}</span>
				</div>

				<div class="mt-2">
					<button data-role="swipe" class="btn btn-link text-white">{{ "Back"|t}}</button>

					{% if fields.field_initiative_register_link.content %}
						<a href="{{ url('<front>') }}/{{fields.field_initiative_register_link.content}}" class="btn btn-link text-white">{{ "Register Now"|t}}</a>
					{% endif %}
				</div>


				{#        <div class="mt-auto text-center">#}
			{#          <b class="d-block">{{ 'Target group'|t }}</b>#}
				{#          <span>{{ fields.field_initiative_target.content }}</span>#}
				{#        </div>#}
			</div>
		</div>
	</div>
</div>
