<section class="ige-statistics">
    <div class="container-xl">
        <div class="ige-statistics-title">
            <svg data-src="{{ assets }}/images/logos/ige-logo.svg"></svg>
            <h3>In Numbers</h3>
        </div>

        <div class="ige-statistics-content text-center">
            <div class="ige-statistics-item">
                <svg data-src="{{ assets }}/images/stats/agency.svg" class="ige-statistics-item__icon"
                     fill="currentColor"/>
                <h5 class="ige-statistics-item__title position-relative">Government Entity</h5>
                <p class="ige-statistics-item__count position-relative">+20</p>
            </div>
            <div class="ige-statistics-item">
                <svg data-src="{{ assets }}/images/stats/loginproc.svg" class="ige-statistics-item__icon"
                     fill="currentColor"/>
                <h5 class="ige-statistics-item__title">Registration</h5>
                <p class="ige-statistics-item__count">2K</p>
            </div>
            <div class="ige-statistics-item">
                <svg data-src="{{ assets }}/images/stats/inits.svg" class="ige-statistics-item__icon"
                     fill="currentColor"/>
                <h5 class="ige-statistics-item__title">Initiative</h5>
                <p class="ige-statistics-item__count">+36</p>
            </div>
            <div class="ige-statistics-item">
                <svg data-src="{{ assets }}/images/stats/paths.svg" class="ige-statistics-item__icon"
                     fill="currentColor"/>
                <h5 class="ige-statistics-item__title">Paths</h5>
                <p class="ige-statistics-item__count">4</p>
            </div>
        </div>
    </div>
</section>