<section class="ige-section my-px-30">
  <div class="container-xl">
    <div class="ige-about-tabs">
      <div class="my-px-40">
        <div class="ige-section-title">
          <h2>{{ "Ignite Paths"|t }}</h2>
        </div>
        <div class="ige-section-description">
          <div id="paths">
            <div class="ige-about-collapse">
              <button class="btn btn-link ige-about-collapse__item" data-bs-toggle="collapse" data-bs-target="#path-0"
                      aria-expanded="true" aria-controls="path-0">
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/c-ghust.svg" fill="currentColor"
                     class="icon-35 me-2"/>
                <span>{{ "Game Design"|t }}</span>
              </button>
              <button class="btn btn-link ige-about-collapse__item" data-bs-toggle="collapse" data-bs-target="#path-1"
                      aria-expanded="false" aria-controls="path-1">
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/c-video.svg" fill="currentColor"
                     class="icon-35 me-2"/>
                <span>{{ "Advertising Industry"|t }}</span>
              </button>
              <button class="btn btn-link ige-about-collapse__item" data-bs-toggle="collapse" data-bs-target="#path-2"
                      aria-expanded="false" aria-controls="path-2">
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/c-audio.svg" fill="currentColor"
                     class="icon-35 me-2"/>
                <span>{{ "Acoustics Design"|t }}</span>
              </button>
              <button class="btn btn-link ige-about-collapse__item" data-bs-toggle="collapse" data-bs-target="#path-3"
                      aria-expanded="false" aria-controls="path-3">
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/c-play.svg" fill="currentColor"
                     class="icon-35 me-2"/>
                <span>{{ "Video Industry"|t }}</span>
              </button>
            </div>
            <div class="mt-3">
              <div class="ige-about-paths__content collapse show" id="path-0" data-bs-parent="#paths"> malesuada fames
                ac
                turpis egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna
                eget.
              </div>
              <div class="ige-about-paths__content collapse " id="path-1" data-bs-parent="#paths"> malesuada fames ac
                turpis
                egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna eget.
              </div>
              <div class="ige-about-paths__content collapse " id="path-2" data-bs-parent="#paths"> malesuada fames ac
                turpis
                egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna eget.
              </div>
              <div class="ige-about-paths__content collapse " id="path-3" data-bs-parent="#paths"> malesuada fames ac
                turpis
                egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna eget.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="my-px-40">
        <div class="ige-section-title">
          <h2>{{ "Initiatives Types"|t }}</h2>
        </div>
        <div class="ige-section-description">
          <div id="initstypes">
            <div class="ige-about-collapse">
              <button class="btn btn-link ige-about-collapse__item" data-bs-toggle="collapse"
                      data-bs-target="#initype-0"
                      aria-expanded="true" aria-controls="path-0">
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/graduation.svg"
                     fill="currentColor" class="icon-35 me-2"/>
                <span>Training and Qualification</span>
              </button>
              <button class="btn btn-link ige-about-collapse__item" data-bs-toggle="collapse"
                      data-bs-target="#initype-1"
                      aria-expanded="false" aria-controls="path-1">
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/funding.svg" fill="currentColor"
                     class="icon-35 me-2"/>
                <span>{{ "Funding Initiatives"|t }}</span>
              </button>
              <button class="btn btn-link ige-about-collapse__item" data-bs-toggle="collapse"
                      data-bs-target="#initype-2"
                      aria-expanded="false" aria-controls="path-2">
                <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/icons/org.svg" fill="currentColor"
                     class="icon-35 me-2"/>
                <span>{{ "Organizational Initiatives"|t }}</span>
              </button>
            </div>
            <div class="mt-3">
              <div class="ige-about-paths__content collapse show" id="initype-0" data-bs-parent="#initstypes"> malesuada
                fames ac turpis egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis hendrerit
                dolor
                magna eget.
              </div>
              <div class="ige-about-paths__content collapse " id="initype-1" data-bs-parent="#initstypes"> malesuada
                fames
                ac turpis egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis hendrerit dolor
                magna
                eget.
              </div>
              <div class="ige-about-paths__content collapse " id="initype-2" data-bs-parent="#initstypes"> malesuada
                fames
                ac turpis egestas sed tempus urna et pharetra pharetra massa massa ultricies mi quis hendrerit dolor
                magna
                eget.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

