<footer class="ige-footer">
  <div class="container-xl">
    <div class="row gy-5">
      <div
        class="col-12 col-xl-10  d-flex flex-column flex-xl-row align-items-center align-content-center align-content-xl-start text-center text-xl-start">
        <div class="ige-footer-logo">
          <svg data-src="{{ base_path ~ directory }}/dist/webassets/images/logos/ige-logo.svg" fill="currentColor" />
        </div>

        <div class="ige-footer-content mt-3 mt-xl-0 ms-xl-5">
          <div class="list-inline">
            <div class="list-inline-item">
              <a href="{{ url('<front>') }}">{{ "Home"|t }}</a>
            </div>
            <div class="list-inline-item">
              <a href="{{ url('<front>') }}about">{{ "About"|t }}</a>
            </div>
            <div class="list-inline-item">
              <a href="{{ url('<front>') }}initiatives">{{ "Initiatives"|t }}</a>
            </div>
            <div class="list-inline-item">
              <a href="{{ url('<front>') }}contact">{{ "Contact"|t }}</a>
            </div>
          </div>

          <p class="mt-3">{{ "An executive program that aims to make the Kingdom of Saudi Arabia a leading country in the digital content sector and its platforms by 2030."|t }}</p>
        </div>
      </div>
      <div class="col-12 col-xl-2 d-flex justify-content-center justify-content-xl-end">
        <div class="ige-footer-socials">
          <div class="list-inline">
            <div class="list-inline-item">
              <a href="#">
                <box-icon type="logo" name="facebook" class="icon"></box-icon>
              </a>
            </div>
            <div class="list-inline-item">
              <a href="#">
                <box-icon type="logo" name="twitter" class="icon"></box-icon>
              </a>
            </div>
            <div class="list-inline-item">
              <a href="#">
                <box-icon type="logo" name="youtube" class="icon"></box-icon>
              </a>
            </div>
            <div class="list-inline-item">
              <a href="#">
                <box-icon type="logo" name="linkedin" class="icon"></box-icon>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>

