{% set navbar_classes = is_front ? "bg-transparent navbar-dark" : "navbar-light bg-white" %}

<nav class="navbar navbar-expand-xl {% if navbar_classes %}{{ navbar_classes }}{% endif %}">
  <div class="container-xl">
    <a class="navbar-brand" href="{{ url('<front>') }}">
      <svg class="logo" data-src="{{ base_path ~ directory }}/dist/webassets/images/logos/ige-logo.svg" fill="currentColor"/>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="navbarContent">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">{{ "Menu"|t }}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        {{ page.navbar_menu }}

        {{ page.navbar_additional_menu }}
      </div>
    </div>
  </div>
</nav>
