<section class="ige-sponsors">
  <div data-ige-sliders="#sponsorsConfig">
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/mcit.png" alt="وزارة الإتصالات وتقنية المعلومات"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/moi.png" alt="وزارة الإستثمار"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/mom.png" alt="وزارة الإعلام"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/moc.png" alt="وزارة الثقافة"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/hrsd.png" alt="وزارة الموارد البشرية و التنمية الاجتماعية"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/citc.png" alt="هيئة الاتصالات وتقنية المعلومات"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/sdaia.png" alt="الهيئة السعودية للبيانات والذكاء الإصطناعي"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/saip.png" alt="الهيئة السعودية للملكية الفكرية"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/gcam.png" alt="الهيئة العامة للإعلام المرئي والمسموع"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/rcfrc.png" alt="الهيئة الملكية لتطوير مدينة الرياض"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/lcgpa.png" alt="هيئة المحتوى المحلي والمشتريات الحكومية"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/zatca.png" alt="هيئة الزكاة والضريبة والجمارك"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/lqp.png" alt="برنامج جودة الحياة"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/snss.png" alt="الإتحاد السعودي للرياضات الإلكترونية"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/cdf.png" alt="صندوق التنمية الثقافي"/>
      </div>
    </div>
    <div class="ige-sponsors-item">
      <div class="inner">
        <img src="{{ base_path ~ directory }}/dist/webassets/images/sponsors/saudico.png" alt="مكتب إنشاء الشركات السعودية العالمية"/>
      </div>
    </div>
  </div>
  <script type="application/json" id="sponsorsConfig">
    {
      "slidesToShow": 5,
      "slidesToScroll": 5,
      "speed": 600,
      "infinite": true,
      "autoplay": true,
      "responsive": [
        {
          "breakpoint": 576,
          "settings": {
            "slidesToShow": 2,
            "slidesToScroll": 2
          }
        },
        {
          "breakpoint": 768,
          "settings": {
            "slidesToShow": 3,
            "slidesToScroll": 3
          }
        },
        {
          "breakpoint": 995,
          "settings": {
            "slidesToShow": 3,
            "slidesToScroll": 3
          }
        },
        {
          "breakpoint": 1200,
          "settings": {
            "slidesToShow": 4,
            "slidesToScroll": 4
          }
        },
        {
          "breakpoint": 1400,
          "settings": {
            "slidesToShow": 5,
            "slidesToScroll": 5
          }
        }
      ]
    }
  </script>
