<!-- header -->
<header class="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
		<div class="container">
			{{ page.navbar_branding }}

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				{{ page.navbar_menu }}

				{{ page.navbar_additional_menu }}
			</div>
		</div>
	</nav>
</header>
<!-- header-end -->

<!-- Carousel -->
{{ page.carousel_area }}


<!-- END Carousel -->
<!-- main-area -->
	<main>
		{% block main %}
	{{ page.content }}
{% endblock %}
</main>
<!-- END main -->

	{% if is_front %}
	<!-- Widget:Sponsor -->
		<section id="sponsors" class="section section-sponsors"> <section class="section-inner">
			<div class="container">
				<h2 class="section-title">{{ "IGNITE<br/>Members"|t }}</h2>
				<div class="list-inline text-center owl-carousel owl-theme">
					<div class="list-inline-item">
						<img src="{{ base_path ~ directory }}/dist/img/sponsors/mcit.png" alt="وزارة الإتصالات"/>
					</div>
					<div class="list-inline-item">
						<img src="{{ base_path ~ directory }}/dist/img/sponsors/moi.png" alt="وزارة الإستثمار"/>
					</div>
					<div class="list-inline-item">
						<img src="{{ base_path ~ directory }}/dist/img/sponsors/saip.png" alt="الهيئة السعودية للملكية الفكرية"/>
					</div>
					<div class="list-inline-item">
						<img src="{{ base_path ~ directory }}/dist/img/sponsors/gcam.png" alt="الهيئة العامة للإعلام المرئي والمسموع"/>
					</div>
					<div class="list-inline-item">
						<img src="{{ base_path ~ directory }}/dist/img/sponsors/citc.png" alt="هيئة الاتصالات وتقنية المعلومات"/>
					</div>
					<div class="list-inline-item">
						<img src="{{ base_path ~ directory }}/dist/img/sponsors/mom.png" alt="وزارة الإعلام"/>
					</div>
					<div class="list-inline-item">
						<img src="{{ base_path ~ directory }}/dist/img/sponsors/moc.png" alt="وزارة الثقافة"/>
					</div>
					<div class="list-inline-item">
						<img src="{{ base_path ~ directory }}/dist/img/sponsors/saip.png" alt="الهيئة السعودية للملكية الفكرية"/>
					</div>
					<div class="list-inline-item">
						<img src="{{ base_path ~ directory }}/dist/img/sponsors/snss.png" alt="الإتحاد السعودي للرياضات الإلكترونية"/>
					</div>
				</div>

			</div>
		</section>
	</section>
	<!-- END Widget:Sponsor -->
{% endif %}


<!-- footer -->
<footer class="footer">
	<div class="footer-inner">
		<div class="container pt-5">
			<div class="footer-brand">
				<div class="footer-logo">
					<a href="#">
						<img src="{{ base_path ~ directory }}/dist/img/logo-white.png" alt="{{ head_title }}"/>
					</a>
				</div>
			</div>
			<!-- Copyright -->
			<div class="footer-copyright py-3 mt-3">
				<div class="container">
					<div class="row gy-3 gy-lg-0">
						<div class="col-12 col-lg-6 text-center text-lg-start">
							<ul class="links">
								<li>
									{% if language.getId() == 'en' %}
										<a href="{{ url('<front>') }}/en/form/contact-en">{{ "Contact Us"|t }}</a>
									{% else %}
										<a href="{{ url('<front>') }}/form/contact">{{ "Contact Us"|t }}</a>
									{% endif %}
								</li>
								<li>
									<a href="{{ url('<front>') }}/terms">{{ "Terms"|t }}</a>
								</li>
								<li>
									{% if language.getId() == 'en' %}
										<a href="/">{{ "Change Lanuage"|t }}</a>
									{% else %}
										<a href="/en">{{ "Change Lanuage"|t }}</a>
									{% endif %}
								</li>
							</ul>
						</div>
						<div class="col-12 col-lg-6">
							<div class="footer-social float-none float-lg-end">
								<a href="https://twitter.com/saudiignite" target="_blank" rel="noopener">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="https://www.youtube.com/channel/UCLvNzfPMn3hdDgg76x-1YNg" target="_blank" rel="noopener">
									<i class="fa fa-youtube"></i>
								</a>
								<a href="https://www.instagram.com/saudiignite/" target="_blank" rel="noopener">
									<i class="fa fa-instagram"></i>
								</a>
								<a href="https://www.linkedin.com/company/79969251" target="_blank" rel="noopener">
									<i class="fa fa-linkedin"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- / Copyright -->
		</div>
	</div>
</footer>
<!-- footer-end -->
